{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}
