@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
    --admin-panel-width: 300px;
}

.admin-panel {
    width: var(--admin-panel-width);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    font-size: 15px;
    direction: ltr;
    transition: left  .2s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

.admin-panel--inner {
    background: inherit;
}

.dialog-plugin.admin-panel {
    min-width: auto;
    min-height: auto;
}

.admin-blocks-palette {
    position: fixed;
    left: var(--admin-panel-width);
    top: 0;
    width: var(--admin-panel-width);
    height: 100%;
}

.sortable-ghost {
    opacity: 0.5;
    background: #9e9e9e;
}

.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}

.admin-panel input, .admin-panel textarea {
    font-size: 14px;
}

.admin-panel .toggle-button {
    left: 305px;
    top: 5px
}
