@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.dialog-plugin.admin-panel {
  min-width: auto;
  min-height: auto;
}

.sortable-ghost {
  opacity: 0.5;
  background: #9e9e9e;
}

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.admin-panel input,
.admin-panel textarea {
  font-size: 14px;
}

.admin-panel .toggle-button {
  left: 305px;
  top: 5px;
  position: absolute;
}

.admin-panel .column {
  padding: 0;
  flex-basis: auto;
}
